<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer template</title>
</head>
<body>
	<footer>
	<div class="container" th:fragment="footer1">
	   <h1>About me</h1>
	   <h1>This is for learning only</h1>
	   <h1>This is about footer</h1>
	   <p>The HTML <p> element defines a paragraph. 
	   A paragraph always starts on a new line, and 
	   browsers automatically add some white space (a margin) before and 
	   after a paragraph.</p>
	
	</div>
	
	</footer>
</body>
</html>